/* Ciemny motyw */
.html_dark
{
    background-color: rgb(24, 24, 24)!important;
}

.body_dark
{
    color:white!important;
}

.mark_dark
{
    background-color: rgb(32, 32, 32)!important;
}

.icon_home_dark
{
    color: white!important;
}

.header_dark
{
    background-color: rgb(32, 32, 32)!important;
    border-bottom: 1px solid rgb(55, 55, 55)!important;
}

.icon_menu_dark
{
    color: white!important;
}

.icon_account_dark
{
    color: white!important;
}

.icon_logout_dark
{
    color: white!important;
}

.mobile_menu_dark
{
    background-color: rgba(0, 0, 0, 0.9)!important;
}

.menuItem_mobile_dark
{
    color: white!important;
}

.nav_dark
{
    background-color: rgb(32, 32, 32)!important;
    border-right: 1px solid rgb(55, 55, 55)!important;
}

.menuItem_dark
{
    color: white!important;
}

.menuItem_dark:hover
{
    background-color: rgb(56, 56, 56)!important;
    transition: 0.2s background-color ease-out!important;
}

.aktywny_dark
{
    background-color: rgb(56, 56, 56)!important;
}

.main_dark
{
    background-color: rgb(24, 24, 24)!important;
}

.formularz75_dark
{
    background-color: rgb(32, 32, 32)!important;
    border: 5px dotted rgb(55, 55, 55)!important;
}

.wyloguj_dark
{
    color: white!important;
    border: 2px double rgb(55, 55, 55)!important;
    background-color: rgb(32, 32, 32)!important;
}

.formularz100_dark
{
    background-color: rgb(32, 32, 32)!important;
    border: 5px dotted rgb(55, 55, 55)!important;
}

.rozwin_dane_dark
{
    border: 3px dotted rgb(55, 55, 55)!important;
}

#dane_dark
{
    display: none;
    border: 3px solid rgb(55, 55, 55)!important;
    border-top: none!important;
    padding: 20px;
    font-size: 25px;
    width: 50%;
    box-sizing: border-box;
}

#dane_dark input 
{
    font-size: 20px;
}

.upload_dark
{
    background-color: rgb(32, 32, 32)!important;
    border: 5px dotted rgb(55, 55, 55)!important;
}

.pliki_dark
{
    background-color: rgb(32, 32, 32)!important;
    border: 5px dotted rgb(55, 55, 55)!important;
}

.plik_dark
{
    background-color: rgb(56, 56, 56)!important;
    border: 1px solid rgb(55, 55, 55)!important;
}

.plik_dysk_dark
{
    background-color: rgb(56, 56, 56)!important;
    border: 1px solid rgb(55, 55, 55)!important;
    color: white!important;
}

.plik_dysk_dark:hover
{
    background-color: rgb(32, 32, 32)!important;
}

.icon_download_dark
{
    color: white!important;
}

.icon_remove_dark
{
    color: white!important;
}

.komentarze_dark
{
    background-color: rgb(32, 32, 32)!important;
    border: 5px dotted rgb(55, 55, 55)!important;
}

.komentarz_dark
{
    border: 1px solid rgb(55, 55, 55)!important;
}
/* Reszta */
body
{
    margin: 0;
    padding: 0;
}

#content
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}

mark
{
    width: 20%;
    height: 75px;
    line-height: 50px;
    background-color: white;
    text-align: center;
    position: sticky;
    top: 0px;
    padding: 10px;
    box-sizing: border-box;
}

.icon_home
{
    font-family: 'Material Icons';
    font-size: 48px !important;
    content: "\e88a";
    color: black;
}

.notextdec
{
    text-decoration: none;
}

header
{
    width: 80%;
    height: 75px;
    line-height: 55px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(229, 229, 229);
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(1px);
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.icon_menu
{
    display: none;
    font-family: 'Material Icons';
    font-size: 48px !important;
    content: "\e5d2";
    color: black;
    float: left!important;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
}

.icon_menu_exit
{
    content: "\e5cd"!important;
}

.icon_account
{
    font-family: 'Material Icons';
    font-size: 48px !important;
    content: "\e853";
    color: black;
    float: right!important;
    margin-right: 10px;
}

.icon_logout
{
    font-family: 'Material Icons';
    font-size: 48px !important;
    content: "\e9ba";
    color: black;
    float: right!important;
    margin-right: 10px;
}

.mobile_menu
{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    width: 100%;
    position: sticky;
    top: 75px;
}

.mobile_menu ul
{
    list-style-type: none;
    padding: 0;
}

.menuItem_mobile
{
    color: black;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}

nav
{
    width: 20%;
    height: calc(100vh - 75px);
    border-right: 1px solid rgb(229, 229, 229);
    box-sizing: border-box;
    position: sticky;
    top: 75px;
    left: 0px;
    align-self: flex-start;
    background-color: white;
}

nav ul
{
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
    font-size: 1.3vw;
}

.menuItem
{
    display: block;
    text-decoration: none;
    color: black;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.menuItem:hover
{
    background-color: rgb(242, 242, 242);
    transition: 0.2s background-color ease-out;
}

.aktywny
{
    background-color: rgb(242, 242, 242);
}

main
{
    font-size: 30px;
    padding: 50px;
    width: 80%;
    background-color: rgb(249, 249, 249);
    box-sizing: border-box;
}

.formularz75
{
    background-color: white;
    border: 5px dotted rgb(229, 229, 229);
    padding: 20px;
    font-size: 25px;
    width: 75%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.formularz75 input 
{
    margin-bottom: 5px;
    font-size: 20px;
    margin-top: 10px;
}

.formularz75 p
{
    font-size: 20px;
}

.formularz75 textarea 
{
    width: 40vw;
    height: 20vh;
    font-size: 15px;
    max-width: 90%;
}

.przycisk
{
    margin-bottom: 5px;
    font-size: 20px;
    margin-top: 10px;
    background-color: white;
    margin-right: 10px;
}

.przycisk:hover
{
    cursor: pointer;
}

.wyloguj
{
    color:black;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    border: 2px double black;
    background-color: white;
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
}

.formularz100
{
    background-color: white;
    border: 5px dotted rgb(229, 229, 229);
    padding: 20px;
    font-size: 25px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.formularz100 label
{
    display: inline-block;
    margin-bottom: 15px;
}

.formularz100 select
{
    font-size: 25px;
}

.rozwin_dane 
{
    border: 3px dotted black;
    box-sizing: border-box;
    width: 50%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

#dane
{
    display: none;
    border: 3px solid black;
    border-top: none;
    padding: 20px;
    font-size: 25px;
    width: 50%;
    box-sizing: border-box;
}

#dane input 
{
    font-size: 20px;
}

#kontener_upload
{
    display: flex;
    flex-direction: column;
}

.upload
{
    background-color: white;
    border: 5px dotted rgb(229, 229, 229);
    padding: 20px;
    font-size: 25px;
    width: 75%;
    box-sizing: border-box;
    margin-bottom: 20px;
    order: 2;
}

.upload input 
{
    margin-bottom: 5px;
    font-size: 20px;
    margin-top: 10px;
}

.pliki
{
    background-color: white;
    border: 5px dotted rgb(229, 229, 229);
    padding: 20px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 1;
}

.plik
{
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(229, 229, 229);
    border-radius: 25px;
    padding: 10px;
    margin: 10px 10px 10px 0;
}

.plik_dysk
{
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(229, 229, 229);
    padding: 20px;
    margin: 10px 30px 10px 0;
    border-radius: 15px;
    color: black;
}

.plik_dysk:hover
{
    background-color: white;
}

.icon_download
{
    font-family: 'Material Icons';
    font-size: 18px !important;
    content: "\e2c4";
    color: black;
    padding: 5px;
}

.icon_remove
{
    font-family: 'Material Icons';
    font-size: 18px !important;
    content: "\e872";
    color: black;
    padding: 5px;
}

#komunikaty
{
    order: 3;
}

.komunikat_red
{
    order: 2;
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: 75%;
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(114, 28, 36);
    background-color: rgb(248, 215, 218);
    border: 2px dotted rgb(114, 28, 36);
    box-sizing: border-box;
    padding: 5px;
}

.komunikat_green
{
    order: 2;
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: 75%;
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(21, 84, 35);
    background-color: rgb(201, 225, 207);
    border: 2px dotted rgb(21, 84, 35);
    box-sizing: border-box;
    padding: 5px;
}

.komunikat_green100
{
    width: 100%!important;
}

@keyframes cssAnimation 
{
    to {
        width: 0;
        height: 0;
        border: 0;
        margin: 0;
        padding: 0;
        overflow:hidden;
    }
}

@-webkit-keyframes cssAnimation 
{
    to {
        width: 0;
        height: 0;
        border: 0;
        margin: 0;
        padding: 0;
        visibility:hidden;
    }
}

.komentarze
{
    background-color: white;
    border: 5px dotted rgb(229, 229, 229);
    padding: 20px;
    font-size: 25px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}

.komentarze label
{
    display: inline-block;
    width: 75%;
}

.komentarze textarea 
{
    width: 100%;
    max-width: 100%;
    height: 50px;
    font-size: 20px;
}

.komentarz
{
    border: 1px solid rgb(229, 229, 229);
    padding: 5px;
}

.komentarz span
{
    font-size: 15px;
    float: right;
}

@media screen and (max-width: 1000px)
{
    nav ul
    {
        font-size: 2vw;
    }

    .menuItem
    {
        padding-left: 15px;
    }
}

@media screen and (max-width: 700px)
{
    html
    {
        background-color: rgb(249, 249, 249);
    }

    mark
    {
        display: none;
    }

    header
    {
        width: 100%;
    }

    .icon_menu
    {
        display: block;
    }

    nav
    {
        display: none;
    }

    .mobile_menu
    {
        display: none;
    }

    main
    {
        width: 100%;
        height: 100%;
    }

    .formularz75
    {
        width: 100%;
    }

    .formularz75 textarea
    {
        width: 90%;
    }

    .upload
    {
        width: 100%;
    }

    .komunikat_green
    {
        width: 100%;
    }

    .komunikat_red
    {
        width: 100%;
    }

}

@media screen and (max-width: 500px)
{
    main
    {
        font-size: 5vw;
        padding: 15px;
    }

    header
    {
        font-size: 6vw;
    }

    .nazwa_konta
    {
        font-size: 3.5vw;
    }

    .formularz75
    {
        font-size: 5vw;
    }

    .formularz75 input
    {
        font-size: 3.5vw;
    }

    .formularz75 p
    {
        font-size: 3.5vw;
    }

    .rozwin_dane
    {
        width: 100%;
        font-size: 5vw;
    }

    .formularz100
    {
        font-size: 5vw;
    }

    .formularz100 select
    {
        font-size: 3.5vw;
    }

    #dane
    {
        font-size: 4.5vw;
        width: 100%;
    }

    #dane input
    {
        font-size: 3vw;
    }

    #dane_dark
    {
        font-size: 4.5vw;
        width: 100%;
    }

    #dane_dark input
    {
        font-size: 3vw;
    }

    .pliki
    {
        font-size: 15px;
    }

    .upload
    {
        font-size: 4vw;
    }

    .upload input
    {
        font-size: 4vw;
    }

    .komentarze
    {
        font-size: 5vw;
    }

    .komentarz span
    {
        font-size: 3vw;
    }

    .przycisk
    {
        font-size: 15px;
    }
}