/* Zadanie 19 313061 */
#logowanie {
    box-sizing: border-box;
    width: 400px;
    background-color: rgb(0, 255, 255);
    border: 3px solid black;
}

#logowanie form {
    margin: 30px;
    font-size: 20px;
}

#logowanie input {
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}
#czerwony {
    color: red;
}

#wysylanie {
    box-sizing: border-box;
    width: 400px;
    background-color: rgb(0, 255, 255);
    border: 3px solid black;
    padding: 30px;
    font-size: 17px;
}

#wysylanie input {
    margin: 5px;
}

#container{
    display: flex;
    flex-direction: column;
}

#komunikaty{
    order: 2;
    -moz-animation: cssAnimation 0s ease-in 10s forwards;
    -webkit-animation: cssAnimation 0s ease-in 10s forwards;
    -o-animation: cssAnimation 0s ease-in 10s forwards;
    animation: cssAnimation 0s ease-in 10s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

#pliki{
    margin-bottom: 20px;
}

#pliki p{
    margin-top: 5px;
    margin-bottom: 5px;
}

#pliki a{
    color: red;
    text-decoration: none;
}
.red{
    color: rgb(114, 28, 36);
    background-color: rgb(248, 215, 218);
    border: 2px dotted rgb(236, 198, 203);
    width: 400px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.green{
    color: rgb(21, 84, 35);
    background-color: rgb(201, 225, 207);
    border: 2px dotted rgb(185, 218, 193);
    width: 400px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}